body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    align-items: center;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation */
nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
}

nav a:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Form */
form {
    margin: 20px 0;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="file"],
form button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
}

form button:hover {
    background-color: #0056b3;
}
/*notif pour reset password*/
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.alert-warning a {
    color: blue;
    text-decoration: underline;
}
footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10; /* Ensures the footer stays above content when scrolling */
}

.return-link {
    text-align: center;
    margin: 20px 0;
}

.home-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.home-button:hover {
    background-color: #0056b3;
}


.message {
    height: 400px;
    overflow-y: auto; /* Activer le scroll si nécessaire */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.message ul {
    list-style: none;
    padding: 0;
}

.message li {
    margin-bottom: 10px;
}

.message li span {
    font-size: 0.85em;
    color: #777;
}

.formulaire form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.formulaire form button {
    display: block;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulaire form button:hover {
    background-color: #0056b3;
}

